<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaoyn.xadmin.mapper.OrderMapper">

    <select id="queryOrderList" resultType="com.qiaoyn.xadmin.entity.OrderEntityVo">
        SELECT * from `order`
    </select>
</mapper>
