<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaoyn.xadmin.mapper.OrderMapper">
    <insert id="addOrder">
		INSERT INTO `order` ( `order_id`, `user_name`, `total_money`, `deal_money`, `order_status`, `pay_status`, `pay_method`, `delivery_status`, `send_method` )
		VALUES
		( #{orderId}, #{userName}, #{totalMoney}, #{dealMoney}, #{orderStatus}, #{payStatus}, #{payMethod}, #{deliveryStatus}, #{sendMethod} );
	</insert>

	<delete id="deleteUserById">
		delete from `order` where order_id = #{id}
	</delete>

    <select id="queryOrderList" parameterType="com.qiaoyn.xadmin.entity.dto.OrderQuery" resultType="com.qiaoyn.xadmin.entity.OrderEntityVo">
        SELECT
        	`order_id`,
        	`user_name`,
        	`total_money`,
        	`deal_money`,
        CASE
        	`order_status`
        	WHEN 0 THEN
        	'待确认'
        	WHEN 1 THEN
        	'已确认'
        	WHEN 2 THEN
        	'已收货'
        	WHEN 3 THEN
        	'已取消'
        	WHEN 4 THEN
        	'已完成' ELSE '已作废'
        	END AS 'orderStatusName',
        CASE
        	`pay_status`
        	WHEN 0 THEN
        	'已支付' ELSE '未支付'
        	END AS 'payStatusName',
        CASE
        	`pay_method`
        	WHEN 0 THEN
        	'支付宝'
        	WHEN 1 THEN
        	'微信' ELSE '货到付款'
        	END AS 'payMethodName',
        CASE
        	`delivery_status`
        	WHEN 0 THEN
        	'未发货'
        	WHEN 1 THEN
        	'已发货' ELSE '已取消'
        	END AS 'deliveryStatusName',
        CASE
        	`send_method`
        	WHEN 0 THEN
        	'京东物流'
        	WHEN 1 THEN
        	'顺丰物流'
        	WHEN 2 THEN
        	'邮政' ELSE '其他'
        	END AS 'sendMethodName',
			DATE_FORMAT(`create_time`,'%Y年%m月%d日 %H:%i:%s') as `create_time`,
			DATE_FORMAT(`update_time`,'%Y年%m月%d日 %H:%i:%s') as `update_time`
        FROM
        	`order`
        <where>
            <if test="userName != null and userName != ''">
               and user_name = #{userName}
            </if>
			<if test="payStatus != null">
				and pay_status = #{payStatus}
			</if>
			<if test="orderId != null and orderId != ''">
				and order_id = #{orderId}
			</if>
			<if test="payMethod != null">
				and pay_method = #{payMethod}
			</if>
			<if test="orderStatus != null">
				and order_status = #{orderStatus}
			</if>
			<if test="beginDate != null and beginDate != ''">
				and create_time &gt;= #{beginDate}
			</if>
			<if test="endDate != null and endDate != ''">
				and create_time &lt;= #{endDate}
			</if>
        </where>
        order by create_time desc
    </select>
	<select id="queryOrderById" resultType="com.qiaoyn.xadmin.entity.OrderEntityVo">
		       SELECT
        	`order_id`,
        	`user_name`,
        	`total_money`,
        	`deal_money`,
        	`order_status`,
        	`pay_status`,
        	`pay_method`,
        	`delivery_status`,
        	`send_method`,
			DATE_FORMAT(`create_time`,'%Y年%m月%d日 %H:%i:%s') as `create_time`,
			DATE_FORMAT(`update_time`,'%Y年%m月%d日 %H:%i:%s') as `update_time`
        FROM
        	`order`
        	where
			order_id = #{orderId}
	</select>

	<update id="updateOrder" parameterType="com.qiaoyn.xadmin.entity.OrderEntity">
		UPDATE `order`
		<trim prefix="set" suffixOverrides=",">
			<if test="userName !=null and userName != ''" >user_name=#{userName},</if>
			<if test="totalMoney !=null">total_money=#{totalMoney},</if>
			<if test="dealMoney !=null">deal_money=#{dealMoney},</if>
			<if test="orderStatus !=null">order_status=#{orderStatus},</if>
			<if test="payStatus !=null">pay_status=#{payStatus},</if>
			<if test="payMethod !=null">pay_method=#{payMethod},</if>
			<if test="deliveryStatus !=null">delivery_status=#{deliveryStatus},</if>
			<if test="sendMethod !=null">send_method=#{sendMethod},</if>
		</trim>
		WHERE order_id = #{orderId}
	</update>
</mapper>
